@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap:100,200,300,400,500,600,700,800,900|Rubik:100,200,300,400,500,600,700,800,900');

/* -- HEADER CSS for all pages -- */

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-link {
    color: #882828;
    font-size: 20px;
}

.head-color {
    color: #882828;
}

/* -- Section CSS for all pages -- */

.img {
    border: solid 2px #882828;
    margin-bottom: 20px;
}

.mid-cigar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.font {    
    font-family: "Quicksand", sans-serif;
}

.jumbotron {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 90px;
    margin-right: 90px;
}

.jumbo-side {
    margin: 0px;
}

.jumbo-color {
    color: #882828;
}

.ct-mid {
    text-align: center;
}

@media (min-width: 992px) {
    .center-form{
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
    border: 1px solid #882828;
    padding: 10px;
    border-radius: 5px;     
}
}

@media (min-width: 992px) {
    .center-form-1{
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
    border: 1px solid #882828;
    padding: 50px;
    border-radius: 5px;     
}
}

@media (max-width: 992px) {
    .jumbotron{
    padding: 0px;
    margin-left: 50px; 
    margin-right: 50px;
}
}

@media (max-width: 992px) {
    .btn{
    margin-bottom: 5px;
}
}


.hero {
    display: block;
    margin: auto;
}

/* -- Footer CSS for all pages -- */

.foot {
    text-align: center;
}

.center {
    text-align: center;
}

.d-md-inline-block {
    font-size: 50px;
    padding: 0 5px;
}

.social {
    padding-top: 5px;
}

.fab {
    color: #882828;
}
