@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap:100,200,300,400,500,600,700,800,900|Rubik:100,200,300,400,500,600,700,800,900');

/* -- HEADER CSS -- */

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-link {
    color: #882828;
    font-size: 20px;
}

.logo {
    margin-bottom: 25px;
}

.head-color {
    color: #882828;
    text-decoration: underline;
}

/* -- Section CSS -- */

.img {
    border: solid 2px #882828;
    margin-bottom: 25px;
}

.section-space {
    margin-top: 50px;
    font-family: "Quicksand", sans-serif;
}

.jumbotron {
    text-align: center;
}

.ct-mid {
    text-align: center;
}

.form-group {
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid #000;
    
}

.btn {
    margin-top: 20px;
    margin-right: 20px;
}

.textbox {
    height: 200px;
}

.hero {
    margin-left: auto;
    margin-right: auto;
}

/* -- Footer CSS -- */

.foot {
    text-align: center;
}

.center {
    text-align: center;
    margin: 50px;
}

.d-md-inline-block {
    font-size: 50px;
    padding: 15px;
}

.fab {
    color: #882828;
}

