@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap:100,200,300,400,500,600,700,800,900|Rubik:100,200,300,400,500,600,700,800,900');

/* -- HEADER CSS -- */

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar-brand {
    color: red;
}

.logo {
    margin-bottom: 25px;
}

.head-color {
    color: red;
    text-decoration: underline;
}

/* -- Section CSS -- */

.img {
    border: solid 2px red;
    margin-bottom: 25px;
}

.section-space {
    margin-top: 50px;
    font-family: "Quicksand", sans-serif;
}

/* -- Footer CSS -- */

.foot {
    text-align: center;
}

.center {
    text-align: center;
    margin: 50px;
    padding: 25px;
}

.d-md-inline-block {
    padding-left: 25px;
    font-size: 50px;
    color: red;
}